:root {
    /* Info */
    --SKIN-skin: "Essence Edition" !important;
    --SKIN-author: "LuckFire#4032" !important;
}

.theme-dark,
.theme-light {
    /* Lightness */
    --SKIN-lightness: 0% !important;

    /* Grading */
    --SKIN-grading-primary: 0% !important;
    --SKIN-grading-secondary: -4% !important;
    --SKIN-grading-tertiary: -7% !important;
    --SKIN-grading-quarternary: 9% !important;

    /* Interactive */
    --SKIN-interactive-h: 256 !important;
    --SKIN-interactive-s: 20% !important;
    --SKIN-interactive-l: 75% !important;
    --SKIN-interactive-a: 1.0 !important;

    /* Background */
    --SKIN-background-h: 240 !important;
    --SKIN-background-s: 25% !important;
    --SKIN-background-l: 11% !important;
    --SKIN-background-a: 1.0 !important;

    /* Accent */
    --SKIN-accent-h: 256 !important;
    --SKIN-accent-s: 86% !important;
    --SKIN-accent-l: 58% !important;
    --SKIN-accent-a: 1.0 !important;

    /* Green */
    --SKIN-green-h: 140 !important;
    --SKIN-green-s: 73% !important;
    --SKIN-green-l: 47% !important;
    --SKIN-green-a: 1.0 !important;

    /* Yellow */
    --SKIN-yellow-h: 49 !important;
    --SKIN-yellow-s: 95% !important;
    --SKIN-yellow-l: 50% !important;
    --SKIN-yellow-a: 1.0 !important;

    /* Red */
    --SKIN-red-h: 354 !important;
    --SKIN-red-s: 95% !important;
    --SKIN-red-l: 50% !important;
    --SKIN-red-a: 1.0 !important;

    /* Purple */
    --SKIN-purple-h: 278 !important;
    --SKIN-purple-s: 100% !important;
    --SKIN-purple-l: 50% !important;
    --SKIN-purple-a: 1.0 !important;

    /* Extras */
    --scrollbar-thin-thumb: var(--accent-primary) !important;
    --scrollbar-auto-thumb: var(--accent-primary) !important;
    --scrollbar-auto-scrollbar-color-thumb: var(--accent-primary) !important;
}
