:root {
    /* Info */
    --SKIN-skin: "Lavender Edition" !important;
    --SKIN-author: "Obscure#4719" !important;

    --SKIN-wallpaper: url("") !important;
    --SKIN-wallpaper-opacity: 1.0 !important;
}

.theme-dark,
.theme-light {
    /* Lightness */
    --SKIN-lightness: 0% !important;

    /* Grading */
    --SKIN-grading-primary: 9% !important;
    --SKIN-grading-secondary: 6% !important;
    --SKIN-grading-tertiary: 3% !important;
    --SKIN-grading-quarternary: 9% !important;

    /* Interactive */
    --SKIN-interactive-h: 213 !important;
    --SKIN-interactive-s: 13% !important;
    --SKIN-interactive-l: 75% !important;
    --SKIN-interactive-a: 1.0 !important;

    /* Background */
    --SKIN-background-h: 260 !important;
    --SKIN-background-s: 11% !important;
    --SKIN-background-l: 16% !important;
    --SKIN-background-a: 1.0 !important;

    /* Accent */
    --SKIN-accent-h: 241 !important;
    --SKIN-accent-s: 100% !important;
    --SKIN-accent-l: 68% !important;
    --SKIN-accent-a: 1.0 !important;

    /* Green */
    --SKIN-green-h: 144 !important;
    --SKIN-green-s: 95% !important;
    --SKIN-green-l: 43% !important;
    --SKIN-green-a: 1.0 !important;

    /* Yellow */
    --SKIN-yellow-h: 49 !important;
    --SKIN-yellow-s: 95% !important;
    --SKIN-yellow-l: 50% !important;
    --SKIN-yellow-a: 1.0 !important;

    /* Red */
    --SKIN-red-h: 354 !important;
    --SKIN-red-s: 95% !important;
    --SKIN-red-l: 50% !important;
    --SKIN-red-a: 1.0 !important;

    /* Purple */
    --SKIN-purple-h: 278 !important;
    --SKIN-purple-s: 100% !important;
    --SKIN-purple-l: 50% !important;
    --SKIN-purple-a: 1.0 !important;
}
